# 1. Análise descritiva dos dados
Após copiar o arquivo, vamos carregar as bibliotecas base para fazer a análise descritiva

In [55]:
import pandas as pd
import numpy as np 
import seaborn as sns
import os

Verificando missings, quantidades e quantis

In [56]:
os.chdir('D:\\Users\\krums\\Documents\\MBA FIAP IA\Bootcamp IA & Machine Learning')
df_creditos = pd.read_csv('Dados\\solicitacoescredito.csv')

In [57]:
df_creditos.head()

,numero_solicitacao,razaoSocial,nomeFantasia,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,prazoMedioRecebimentoVendas,titulosEmAberto,...,periodoDemonstrativoEmMeses,custos,anoFundacao,intervaloFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito,dataAprovadoNivelAnalista
0,1,James Richardson-Patel,Alexandra Williams,KEBE17609492220843,0,0.252448,0.0,2015-12-10T00:00:00,0,0.00,...,12.0,0.0,2003.0,Acima de 17 anos,90000.0,False,True,1.0,43200.0,2020-02-03T20:57:33
1,2,Dr. Geoffrey Walsh,Mr. Darren Arnold,JRBK88908250677300,0,0.000000,NaN,2019-06-12T17:28:31,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,3,Joanna Hudson,Dr. David Rees,GCVQ28531614261293,4,0.624777,0.0,2019-11-27T00:00:00,0,0.00,...,7.0,0.0,2014.0,De 6 a 10 anos,20000.0,False,True,1.0,4320.0,2020-02-04T16:40:49
3,4,Gordon Jones-Hopkins,Sara Reid-Robson,KJND32266018316396,20,0.000000,NaN,2017-02-13T17:20:27,0,0.00,...,12.0,0.0,2013.0,De 6 a 10 anos,30000.0,False,True,0.0,5920.0,2020-02-04T16:37:52
4,5,Nigel Lee,Dr. Stanley Duncan,CGQN15826802440348,20,0.454088,0.0,2010-07-13T00:00:00,20,1486.95,...,9.0,40680051.0,2002.0,Acima de 17 anos,75000.0,False,False,1.0,89000.0,2020-02-04T15:06:28

In [58]:
df1 = df_creditos.describe(include = 'all')
df1.loc['dtype'] = df_creditos.dtypes
df1.loc['size'] = len(df_creditos)
df1.loc['% count'] = df_creditos.isnull().mean()
pd.DataFrame(df1.transpose())

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,dtype,size,% count
numero_solicitacao,8973.0,NaN,NaN,NaN,4550.042015,2603.485853,1.0,2316.0,4559.0,6802.0,9045.0,int64,8973,0.0
razaoSocial,8973,2759,Malcolm Bolton,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.0
nomeFantasia,8973,2677,Nathan Jones,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.0
cnpjSemTraco,8973,2829,AVAO63044598911311,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.0
maiorAtraso,8973.0,NaN,NaN,NaN,24.642594,66.180793,0.0,3.0,6.0,22.0,1265.0,int64,8973,0.0
margemBrutaAcumulada,8973.0,NaN,NaN,NaN,0.362176,0.201455,0.0,0.281395,0.402895,0.50786,1.0,float64,8973,0.0
percentualProtestos,7475.0,NaN,NaN,NaN,0.01926,0.593579,0.0,0.0,0.0,0.0,36.983728,float64,8973,0.166945
primeiraCompra,8867,1950,2012-12-21T00:00:00,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.011813
prazoMedioRecebimentoVendas,8973.0,NaN,NaN,NaN,23.083027,68.177649,0.0,0.0,0.0,30.0,1605.0,int64,8973,0.0
titulosEmAberto,8973.0,NaN,NaN,NaN,64871.00633,248285.153353,0.0,0.0,0.0,17250.0,3938589.7,float64,8973,0.0
valorSolicitado,8973.0,NaN,NaN,NaN,749243.587652,22618752.861703,100.0,25000.0,50000.0,120000.0,1500000000.0,float64,8973,0.0
status,8973,7,AprovadoAnalista,7011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.0
definicaoRisco,8973,4,De 11 a 30 % - Baixo,4486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.0
diferencaPercentualRisco,8973.0,NaN,NaN,NaN,0.750321,0.146058,0.207547,0.642857,0.75,0.857143,1.0,float64,8973,0.0
percentualRisco,8973.0,NaN,NaN,NaN,0.249679,0.146058,0.0,0.142857,0.25,0.357143,0.792453,float64,8973,0.0
dashboardCorrelacao,8973.0,NaN,NaN,NaN,0.047236,0.472476,-0.99999,0.0,0.0,0.0,0.99999,float64,8973,0.0
valorAprovado,7569.0,NaN,NaN,NaN,189792.576959,543518.578187,0.0,15100.0,35000.0,100000.0,10700000.0,float64,8973,0.156469
dataAprovadoEmComite,558,558,2020-02-05T19:14:37,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.937813
periodoBalanco,4733,124,2019-12-31T03:00:00,1729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.472529
ativoCirculante,4733.0,NaN,NaN,NaN,44510281.217198,467453419.135311,-17.0,887585.0,3996630.0,16351166.0,29038320000.0,float64,8973,0.472529
passivoCirculante,4733.0,NaN,NaN,NaN,33968150.170716,494607401.733377,-1134941.0,182970.0,1335189.0,7449366.0,27503820000.0,float64,8973,0.472529
totalAtivo,4733.0,NaN,NaN,NaN,70736227.554405,887889128.941478,-17.0,1049740.0,4637565.0,19167442.0,54823500000.0,float64,8973,0.472529
totalPatrimonioLiquido,4733.0,NaN,NaN,NaN,28311717.521234,257675516.086506,-186719734.0,232892.0,1569857.0,8036921.0,12923280000.0,float64,8973,0.472529
endividamento,4733.0,NaN,NaN,NaN,4687958.015001,37737155.590288,0.0,0.0,0.0,741650.0,740631476.0,float64,8973,0.472529
duplicatasAReceber,4733.0,NaN,NaN,NaN,16633967.484471,297902910.282491,-22780710.0,39205.0,1088164.0,6576243.0,20093580000.0,float64,8973,0.472529
estoque,4733.0,NaN,NaN,NaN,15239556.060427,83837924.125991,-263226.0,171286.0,1063783.0,5493839.0,1293428000.0,float64,8973,0.472529
faturamentoBruto,8223.0,NaN,NaN,NaN,55974202.679314,334435671.664004,0.0,1191995.0,3599483.0,15842218.0,6426115000.0,float64,8973,0.083584
margemBruta,8223.0,NaN,NaN,NaN,16209878.900036,116348171.250149,-614872100.0,0.0,0.0,3357474.5,3366842514.0,float64,8973,0.083584
periodoDemonstrativoEmMeses,8223.0,NaN,NaN,NaN,10.377356,3.220965,1.0,11.0,12.0,12.0,12.0,float64,8973,0.083584
custos,8223.0,NaN,NaN,NaN,28390609.774048,207214754.513871,-346633805.0,0.0,0.0,4520907.0,4393536000.0,float64,8973,0.083584
anoFundacao,8228.0,NaN,NaN,NaN,2006.027467,19.42412,1000.0,2000.0,2009.0,2015.0,2020.0,float64,8973,0.083027
intervaloFundacao,8228,4,Acima de 17 anos,2681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.083027
capitalSocial,8228.0,NaN,NaN,NaN,11214526.111206,97428533.712853,0.0,50000.0,100000.0,500000.0,4100000000.0,float64,8973,0.083027
restricoes,8228,2,False,7458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.083027
empresa_MeEppMei,8228,2,False,5046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.083027
scorePontualidade,8973.0,NaN,NaN,NaN,0.798346,0.379186,0.0,0.887479,1.0,1.0,1.0,float64,8973,0.0
limiteEmpresaAnaliseCredito,8228.0,NaN,NaN,NaN,2851016.6456,26723244.373608,0.0,7360.0,48600.0,345000.0,1974261312.0,float64,8973,0.083027
dataAprovadoNivelAnalista,7011,7011,2020-02-03T20:57:33,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,8973,0.218656

### 1.1 Analisando e filtrando de casos inconsistentes
Para a amostra, temos que verificar:
1. Casos de clientes que tem mais de um nome de `razaoSocial`
2. Casos com solicitação de valor zero

In [59]:
df_creditos.loc[df_creditos['valorSolicitado']<=0.0]

Empty DataFrame
Columns: [numero_solicitacao, razaoSocial, nomeFantasia, cnpjSemTraco, maiorAtraso, margemBrutaAcumulada, percentualProtestos, primeiraCompra, prazoMedioRecebimentoVendas, titulosEmAberto, valorSolicitado, status, definicaoRisco, diferencaPercentualRisco, percentualRisco, dashboardCorrelacao, valorAprovado, dataAprovadoEmComite, periodoBalanco, ativoCirculante, passivoCirculante, totalAtivo, totalPatrimonioLiquido, endividamento, duplicatasAReceber, estoque, faturamentoBruto, margemBruta, periodoDemonstrativoEmMeses, custos, anoFundacao, intervaloFundacao, capitalSocial, restricoes, empresa_MeEppMei, scorePontualidade, limiteEmpresaAnaliseCredito, dataAprovadoNivelAnalista]
Index: []

[0 rows x 38 columns]

In [60]:
df_creditos_count_razao = df_creditos.groupby('cnpjSemTraco')['razaoSocial'].nunique().reset_index().rename(columns={'razaoSocial':'qtde_razaoSocial'})

In [61]:
df_creditos_count_razao

            cnpjSemTraco  qtde_razaoSocial
0     AADG56617962174727                 1
1     AADW74046123201866                 1
2     AAKI68017899673695                 1
3     AAMI69895399119182                 1
4     AANH69260102434077                 1
...                  ...               ...
2824  ZYRG46055383402143                 1
2825  ZYTZ74379794301453                 1
2826  ZYUL32892423767231                 1
2827  ZZSR33059911878058                 1
2828  ZZVU59020803434073                 1

[2829 rows x 2 columns]

In [62]:
#8 solicitações provenientes de clientes com mais de uma razão social
df_creditos.merge(df_creditos_count_razao[df_creditos_count_razao['qtde_razaoSocial']>1],on=['cnpjSemTraco'],how='inner')

,numero_solicitacao,razaoSocial,nomeFantasia,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,prazoMedioRecebimentoVendas,titulosEmAberto,...,custos,anoFundacao,intervaloFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito,dataAprovadoNivelAnalista,qtde_razaoSocial
0,955,Mrs. Rosemary Fleming,Dr. Josephine Scott,OIOX50590478841783,0,0.000000,NaN,2019-07-10T14:56:04,0,0.0,...,0.0,2010.0,De 6 a 10 anos,93700.0,False,True,0.0,196653.0,2020-03-09T11:11:25,2
1,2453,Mrs. Rosemary Fleming,Dr. Josephine Scott,OIOX50590478841783,0,0.000000,NaN,2019-07-10T14:56:04,0,0.0,...,0.0,2010.0,De 6 a 10 anos,93700.0,False,True,0.0,196653.0,2020-05-29T18:55:51,2
2,4013,Ms. Jasmine Clark,Jeffrey Fisher,OIOX50590478841783,0,0.416005,0.0,2018-12-06T00:00:00,0,0.0,...,5301457.0,2016.0,De 0 a 5 anos,93700.0,False,True,1.0,169974.0,2020-08-11T20:01:06,2
3,2379,Samuel Ryan,Rosie Andrews-Richards,YZJZ74754922350776,0,0.423515,0.0,2020-04-24T00:00:00,0,0.0,...,1736000.0,1996.0,Acima de 17 anos,3500000.0,False,False,1.0,127853.0,NaN,2
4,2408,Stacey Taylor,Carly Hamilton,YZJZ74754922350776,0,0.000000,0.0,2020-05-28T03:00:00,0,0.0,...,1736000.0,1996.0,Acima de 17 anos,3500000.0,False,False,0.0,127853.0,NaN,2
5,2410,Samuel Ryan,Rosie Andrews-Richards,YZJZ74754922350776,0,0.423515,0.0,2020-04-24T00:00:00,0,0.0,...,1736000.0,1996.0,Acima de 17 anos,3500000.0,False,False,1.0,127853.0,NaN,2
6,4251,Janice Evans-Patel,Rita O'Neill,THNJ64645145337093,0,0.000000,0.0,0001-01-01T03:06:00,0,0.0,...,163508171.0,1973.0,Acima de 17 anos,0.0,False,False,0.0,7468254.0,2020-08-20T12:23:15,2
7,8958,Jane Knight,Ross Noble-Coates,THNJ64645145337093,0,0.000000,0.0,2021-02-24T03:00:00,0,0.0,...,74361203.0,1973.0,Acima de 17 anos,1156103.0,True,False,0.0,10082143.0,2021-02-24T17:38:55,2

In [63]:
df_creditos = df_creditos.merge(df_creditos_count_razao[df_creditos_count_razao['qtde_razaoSocial']==1],on=['cnpjSemTraco'],how='inner')

Cirando o dataset para clientes

No caso temos que pegar as features dos clientes que resumem cada um deles. Podemos pegar as features em função to tempo (agregando variaveis por solicitação para cada cliente), porém testaremos a clusterização sem usar a variação temporal ainda. Se isso já ajudar a descrever é um bom progresso:

In [72]:
#features calculadas (em função do tempo)
#buscando a linha índice de solicitação

df_clientes_aux = df_creditos.groupby(df_creditos['cnpjSemTraco'])['numero_solicitacao'].min().reset_index().rename(columns={'numero_solicitacao':'min_solicitacao'})

In [73]:
df_clientes = df_creditos.merge(df_clientes_aux,left_on=['cnpjSemTraco','numero_solicitacao'], right_on=['cnpjSemTraco','min_solicitacao'],how='inner')

Devemos selecionar as variáveis que maximizam o tamanho da amostra

In [91]:
pd.DataFrame(df1.transpose()).filter(['cnpjSemTraco','maiorAtraso'
                                 ,'margemBrutaAcumulada','percentualProtestos','primeiraCompra'
                                 ,'faturamentoBruto','margemBruta','periodoDemonstrativoEmMeses','custos'
                                 ,'anoFundacao','capitalSocial','restricoes','empresa_MeEppMei'
                                 ,'scorePontualidade'],axis=0)['% count'].max()

0.16694528028530034

In [92]:
df_clientes = df_clientes.filter(['cnpjSemTraco','maiorAtraso'
                                 ,'margemBrutaAcumulada','percentualProtestos','primeiraCompra'
                                 ,'faturamentoBruto','margemBruta','periodoDemonstrativoEmMeses','custos'
                                 ,'anoFundacao','capitalSocial','restricoes','empresa_MeEppMei'
                                 ,'scorePontualidade'],axis=1)

In [93]:
df_clientes.dropna().reset_index()

,index,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,faturamentoBruto,margemBruta,periodoDemonstrativoEmMeses,custos,anoFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade
0,0,KEBE17609492220843,0,0.252448,0.0,2015-12-10T00:00:00,1766880.0,0.0,12.0,0.0,2003.0,90000.0,False,True,1.0
1,2,GCVQ28531614261293,4,0.624777,0.0,2019-11-27T00:00:00,2814940.0,0.0,7.0,0.0,2014.0,20000.0,False,True,1.0
2,4,CGQN15826802440348,20,0.454088,0.0,2010-07-13T00:00:00,40779757.0,81459809.0,9.0,40680051.0,2002.0,75000.0,False,False,1.0
3,7,NLUX93496216176463,4,0.350175,0.0,2007-07-02T00:00:00,11958227.0,9357949.0,9.0,0.0,2000.0,120000.0,False,False,1.0
4,8,LOVL82962402474134,43,0.245818,0.0,2006-07-10T00:00:00,72479551.0,6233236.0,12.0,-49267738.0,2000.0,1000000.0,False,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,2820,RUMI65501480322616,0,0.300228,0.0,2021-01-19T00:00:00,1923051.0,0.0,10.0,0.0,2003.0,40000.0,False,True,1.0
2039,2821,CLOG87874305102258,0,0.361474,0.0,2021-02-08T00:00:00,2924092.0,0.0,12.0,0.0,2018.0,300000.0,False,True,1.0
2040,2822,DMNU57577101368941,3,0.250621,0.0,2007-03-01T00:00:00,1684508.0,0.0,12.0,0.0,2004.0,10000.0,False,False,1.0
2041,2824,ISPY81393760117061,4,0.194429,0.0,2019-05-16T00:00:00,1366363.0,1153580.0,12.0,212783.0,2017.0,100000.0,False,True,1.0
2042,2825,IPFS70635894073808,0,0.462250,0.0,2020-07-31T00:00:00,5392166.0,246578.0,12.0,5145588.0,2018.0,110000.0,False,True,1.0

Agora temos que fazer um hot encode de algumas variáveis:

1. tirar todos os nulos de variãveis de cliente;
2. Podemos usar como default da `primeiraCompra` pra quem não tem como sendo uma data 1900-01-01;
3. `restricoes` deve ser tratada com hot encode;

Visualizando os casos com componentes principais:

Fazendo clusterização com algumas técnicas:

# 3. Modelagem para análise de crédito
Para o modelo de análise de credito, podemos dividir em:

- Modelos conforme score
- Modelo para primeira compra
- Modelo para clientes recorrentes